<form class="ui stacked segment form" action="/companies" method="POST">
    <div class="ui equal width form">
        <div class="ui fields">
            <div class="ui field">
                <strong>Company Name</strong>
                <input type="text" placeholder="Company Name" name="name" required>
            </div>
            <div class="field">
                <strong>Email</strong>
                <input type="text" placeholder="Email" name="email" required>
            </div>
            <div class="field">
                <strong>Phone</strong>
                <input type="text" placeholder="Phone" name="phone" required>
            </div>
            <div class="field">
                <strong>Website</strong>
                <input type="text" placeholder="Website" name="website" required>
            </div>
        </div>
    </div>
    <button class="ui blue submit button">Add Company</button>
</form>