<form class="ui stacked segment form" action="/employees" method="POST">
    <div class="ui equal width form">
        <div class="ui fields">
            <div class="ui field">
                <strong>First Name</strong>
                <input type="text" placeholder="First Name" name="first_name" required>
            </div>
            <div class="field">
                <strong>Last Name</strong>
                <input type="text" placeholder="Last Name" name="last_name" required>
            </div>
            <div class="field">
                <strong>Company</strong>
                <input type="text" placeholder="Company" name="company" required>
            </div>
            <div class="field">
                <strong>Email</strong>
                <input type="text" placeholder="Email" name="email" required>
            </div>
            <div class="field">
                <strong>Phone</strong>
                <input type="text" placeholder="Phone" name="phone" required>
            </div>
        </div>
    </div>
    <button class="ui blue submit button">Add Employee</button>
</form>