<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Company Database </a></header>
    <div class="right menu">
        <a class="item" href="/companies"> Companies</a>
        <a class="item" href="/employees"> Employees</a>
    </div>
</nav>