{{> loggedInMenu }}

<article class="ui segment">
    <table class="ui celled table">
        <thead>
        <tr>
            <th><a class="item" href="/companies"> Companies</a></th>
            <th><a class="item" href="/employees"> Employees</a></th>
        </tr>
    </table>
</article>

