{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Dermots Company Employee Assignment</header>
            <p> {{title}} </p>
        </article>
    </div>
</section>